certificates
course1_python_programming_essentials/week4_project.py
course1_python_programming_essentials/week4_project_test.py
course2_python_data_representations/exam.py
course3_python_data_analysis/w3/w3_project/project.py
course3_python_data_analysis/w4/w4_project/exam.py
